{% extends "website/conferencia/base.html" %}


{% block body %}


	<div id="wrapper">
		<section id="portada">
		<div class="content">
			<div id="cinta">
			</div>
			<header>
				<a id="logo" href="http://mejorando.la/conferencia" title="mejorando.la/conferencia"><img src="{{ STATIC_PREFIX }}/images/conferencia/guatemala/mejorandola-conferencia-logo.png"/></a>
				<h2 class="stream"><strong>25 de agosto</strong>streaming para el mundo</h2>
				
				<article id="inscripcion">

	                <h3>¡Aparta tu lugar YA!</h3>
	                <form action="mailchimp.php" method="POST" id="formulario">

	                    <input class="input" type="text" id="nombre" name="nombre" class="text-field"  placeholder="Nombre"required />

	                    <input class="input" type="email" name="email" class="text-field" placeholder="Email" required />

	                    <input class="submit" type="submit" value="inscribeme" id="inscribete-btn" />

	                </form>

	               <!--  <p id="confirmacion"><strong>¡Revisa tu mail!</strong> Twittea, Facebookea, Plusea e invita a tus amigos.</p> -->
	            </article>
	            <aside id="social">
	                	<span>Comparte la experiencia</span>
	                	<div class="cont twitter">
	                    	<p><strong>4.5k</strong><span>tweets</span></p>
	                    </div>
	                    <div class="cont facebook">
	                    	<p><strong>5.1k</strong><span>likes</span></p>
	                    </div>
	                    <div class="cont google">
	                    	<p><strong>2.1k</strong><span>+1</span></p>
	                    </div>
	                    <div class="btn_twitter">
	                        <a href="http://twitter.com/share" class="twitter-share-button" data-text="Mejorando.la Conferencia en Centroamérica. 25 de agosto de 2012." data-url="http://mejorando.la/conferencia/" data-count="vertical" data-related="mejorandola:freddier:cvander">Tweet</a>
	                        <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
	                    </div>

	                    <div class="btn_facebook">
	                        <script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script>
	                        <script type="text/javascript">_gaq.push(['_trackFacebook']);</script>
	                        <fb:like href="http://mejorando.la/conferencia/" send="false" layout="box_count" width="49" show_faces="false" font=""></fb:like>
	                    </div>
	                    <div class="btn_google">
	                        <g:plusone size="tall" href="http://mejorando.la/conferencia/"></g:plusone>
	                    </div>
                	</aside>
			</header>
			<article id="tema">
				<nav>
					<ul>
						<li><a href="http://maestrosdelweb.com" target="blank"><img src="{{ STATIC_PREFIX }}/images/conferencia/guatemala/maestrosdelweb.png" alt="cristalab" width="140"/></a>
						<li><a href="http://cristalab.com" target="blank"><img src="{{ STATIC_PREFIX }}/images/conferencia/guatemala/cristalab.png" alt="cristalab" width="140"/></a>
					</ul>
				</nav>
				<div class="wrap">
					<h1>Liderazgo &amp; <br/>  emprendimiento tecnológico</h1>
					<p>Descubre comunidades y empresarios hispanoamericanos que han logrado el éxito con proyectos relevantes a nivel internacional. </p>

	                <p>Participa del evento a través de nuestro Streaming en vivo. Se impartirán <strong>12 conferencias</strong> desde Centroamérica sobre el futuro del emprendimiento y liderazgo tecnológico. 

	                <!--p>Quedas invitado a la Ciudad de Guatemala para compartir con los conferencistas del evento en el Auditorio Juan Bautista Gutiérrez en la Universidad Francisco Marroquín.</p-->
	                <div id="locacion">
		            	<h2>Acompañanos</h2>
		            	<p>Quedas invitado a la Ciudad de 
						Guatemala para compartir con los 
						conferencistas del evento en  el 
						Auditorio Juan Bautista Gutiérrez 
						en la Universidad Francisco 
						Marroquín.</p>
						<div class="loc"></div>
		            </div>
	            </div>        
			</article>
		</section>			
		</div>
		<section id="sponsors-ghost">
		</section>
		<section id="sponsors">
			<div class="content">
				<div class="col oro">
					 <a href="http://www.ufm.edu"><img src="{{ STATIC_PREFIX }}/images/conferencia/guatemala/sponsors/ufm.png" height="56" width="113" alt="Universidad Francisco Marroquín"/></a>					
					<a href="http://mediastream.cl"><img src="{{ STATIC_PREFIX }}/images/conferencia/guatemala/sponsors/mediastream.png" height="56" width="231" alt="mediastream" id="Mediastream"/></a>			
				</div>
				<div class="col plata">
					<a href="http://www.infranetworking.com"><img src="{{ STATIC_PREFIX }}/images/conferencia/guatemala/sponsors/infranetworking.png" height="56" width="217" alt="Infranetworking"/></a>

					 <a href="http://www.ilifebelt.com"><img src="{{ STATIC_PREFIX }}/images/conferencia/guatemala/sponsors/life-belt.png" height="56" width="118" alt="i Life Belt"/></a>

					 <a href="http://www.gpovallas.com/paises/guatemala/"><img src="{{ STATIC_PREFIX }}/images/conferencia/guatemala/sponsors/gpo.png" height="56" width="164" alt="gpovallas"/></a>
				</div>
		
				<div class="col cobre">
					<a href="http://www.libertopolis.com/"><img src="{{ STATIC_PREFIX }}/images/conferencia/guatemala/sponsors/libertopolis.png" height="56" width="134" alt="Libertopolis"/></a> 
					<a href="http://www.prensalibre.com/"><img src="{{ STATIC_PREFIX }}/images/conferencia/guatemala/sponsors/prensa-libre.png"  height="56" width="134" alt="Prensa Libre"/></a>
				</div>
			</div>
		</section>
		<section id="ponentes">
			<div class="content">
				<h2>Los ponentes de <strong>#mejorandola</strong><span>Centroamérica</span></h2>
				<article class="ponente">
					<div class="imagen">
	                	<img src="{{ STATIC_PREFIX }}/images/conferencia/guatemala/luisvonahn.png" height="180" width="185" alt="Luis Von Ahn"/>
	                </div>
	                <div class="biografia">
						<h3 class="grilla">Luis Von Ahn</h3><h4 class="grilla"><a href="http://twitter.com/luisvonahn">@luisvonahn</a></h4>
	                	<p>Profesor de ciencias de la computación en Carnegie Mellon University quien ha destacado por ser un pionero en el Crowdsourcing. De origen guatemalteco, reside en Estados Unidos y es reconocido como un investigador influyente en el ámbito científico y tecnológico con premios como el MacArthur otorgado a personas destacadas en sus áreas. Además, es el creador de Captcha y reCaptcha test diseñado para el ojo humano que impide el spam y que a través de las palabras escritas por los humanos en el test se esta contribuyendo a la digitalización de millones de libros, este proyecto fue adquirido por la empresa Google. Su proyecto más reciente se denomina Duolingo que tiene como objetivo que millones de personas aprendan otros idiomas de forma gratuita y al mismo tiempo ayudan a traducir el contenido de Internet a otros idiomas.</p>
	                </div>
				</article>
				<article class="ponente">
					<div class="imagen">
                		<img src="{{ STATIC_PREFIX }}/images/conferencia/guatemala/Christian.png" height="180" width="185" alt="Christian"/>
	                </div>
	                <div class="biografia">
						<h3 class="grilla">Christian Van Der Henst</h3><h4 class="grilla"><a href="http://twitter.com/cvander">@cvander</a></h4>
                		<p>Es fundador de las comunidades más importantes sobre diseño y desarrollo web hispana:  Maestros del Web y Foros del web con 14 años en línea. Promotor de las tecnologías web con énfasis en la educación, marketing, asesoría, emprendimiento y comunidades digitales. Ha participado en múltiples eventos como conferencista en Estados Unidos, Latinoamérica y España. Es socio fundador del proyecto mejorando.la que se transmite vía streaming, dicta cursos y organiza eventos sobre las tecnologías web más importantes del momento.</p>
	                </div>
				</article>
				<article class="ponente">
					<div class="imagen">
                		<img src="{{ STATIC_PREFIX }}/images/conferencia/guatemala/Stephanie.png" height="180" width="185" alt="Stephanie Falla"/>
	                </div>
	                <div class="biografia">
						<h3 class="grilla">Stephanie Falla Aroche</h3><h4 class="grilla"><a href="http://twitter.com/stephaniefalla">@stephaniefalla</a></h4>
                		<p>Comunicadora social cuenta con experiencia en asesoría y gestión de contenidos para la web. Ha realizado talleres y conferencias en México, Centroamérica y Chile. Imparte cursos sobre nuevas tecnologías de la comunicación y sociedad de la información en varias universidades en su país, autora del libro "adictos a la comunicación", socia de los proyectos Maestros del Web y 120segundos. Organizadora de los cursos y eventos del proyecto mejorando.la en la región hispana.</p>
	                </div>
				</article>
				<article class="ponente">
					<div class="imagen">
               	 		<img src="{{ STATIC_PREFIX }}/images/conferencia/guatemala/corp.png" height="180" width="185" alt="Alejandro Corpeño"/>	
	                </div>
	                <div class="biografia">
						<h3 class="grilla">Alejandro Corpeño</h3><h4 class="grilla"><a href="http://twitter.com/corp">@corp</a></h4>
                		<p>Emprendedor hondureño, desarrollador web y fundador de Icoms Technologies empresa de consultoría web con más de 15 años de experiencia. Organizador del evento internacional WebConfLatino que fomenta el crecimiento de proyectos web en centroamérica y creador del proyecto TuBabel un diccionario social de regionalismos latinos. Participante de la incubadora de Startups Dreamit Ventures en Nueva York, junto a su equipo lanzan el proyecto Pictour una plataforma móvil que permite compartir guías de viajes creadas por la comunidad. </p>
	                </div>
				</article>
				
				<article class="ponente">
					<div class="imagen">
                		<img src="{{ STATIC_PREFIX }}/images/conferencia/guatemala/gissejo.png" height="180" width="185" alt="Gissela Peralta"/>	
	                </div>
	                <div class="biografia">
						<h3 class="grilla">Gissela Peralta</h3><h4 class="grilla"><a href="http://twitter.com/gissejo">@gissejo</a></h4>
                		<p>Es una joven paraguaya emprendedora que practica el periodismo digital a través del desarrollo, investigación y edición de artículos sobre diseño, desarrollo y tendencias en la web a través del proyecto Maestros del Web. Estudiante de periodismo en la Universidad de Buenos Aires ha participado como impulsora de proyectos en su país, conferencista en eventos tecnológicos en donde comparte su experiencia como editora, freelancer y Community Manager de una de las comunidades más grandes en hispanoamérica. </p>
	                </div>
				</article>
				<article class="ponente">
					<div class="imagen">
                		<img src="{{ STATIC_PREFIX }}/images/conferencia/guatemala/cambronero.png" height="180" width="185" alt="Cristian Cambronero"/>	
	                </div>
	                <div class="biografia">
						<h3 class="grilla">Cristian Cambronero</h3><h4 class="grilla"><a href="http://twitter.com/cambronero">@cambronero</a></h4>
                		<p>Periodista independiente, especialista en comunicación online y pionero en el campo del periodismo digital en Costa Rica. Ha impartido charlas y talleres en diversas universidades en su país y se ha desarrollado como conferencista en México, Centroamérica y Estados Unidos. Fundador del blog Fusildechispas.com que ha ganado varios reconocimientos por su periodismo de opinión entre  ellos:  Blogos como mejor blog en Costa Rica y el premio Nacional de Periodismo Pío Víquez el máximo galardón otorgado a un periodista en su país. </p>
	                </div>
				</article>
				<article class="ponente">
					<div class="imagen">
                		<img src="{{ STATIC_PREFIX }}/images/conferencia/guatemala/freddy.png" height="180" width="185" alt="freddy"/>
	                </div>
	                <div class="biografia">
						<h3 class="grilla">John Freddy Vega</h3><h4 class="grilla"><a href="http://twitter.com/freddier">@freddier</a></h4>
                		<p>Fundador de la comunidad de diseño y desarrollo web Cristalab.com que informa, educa y entretiene sobre el uso de las tecnologías y sus tendencias en Internet. Cuenta con amplia experiencia internacional en la asesoría a empresas, capacitación en tecnologías web y expositor en varios eventos sobre tecnología en Latinoamérica. Es socio fundador del proyecto mejorando.la en donde se ha destacado como locutor, profesor y conferencista.</p>
	                </div>
				</article>
			</div>
			<div id="sedes">
				<img src="{{ STATIC_PREFIX }}/images/conferencia/guatemala/participa.jpg" alt="participa"/>
				<h2 class="verde"><span>¿Quieres ver las conferencias en el auditorio de tu ciudad?</span></h2>
                <p>
                    El evento se transmite online a cualquier dispositivo conectado a Internet.  Adicionalmente, con tus amigos pueden generar una reunión en algún centro educativo o café para disfrutar los dos días del evento. Si quieres organizar una SEDE no dudes en contactarnos vía un tweet.
                </p>
			</div>
		</section>
		<footer>
			<div class="content">
				
				<div class="comunidades">
					<a href="http://maestrosdelweb.com" target="blank"><img src="{{ STATIC_PREFIX }}/images/conferencia/guatemala/maestrosdelweb.png" alt="cristalab" /></a>
					<a href="http://cristalab.com" target="blank"><img src="{{ STATIC_PREFIX }}/images/conferencia/guatemala/cristalab.png" alt="cristalab" /></a>
				</div>
				<div id="nosotros">
					<div>
						
						 <p>
		                    Organizamos y participamos en eventos, cursos y talleres de muchas ramas del diseño y desarrollo online. En nuestros sitios se han gestado profesionales certificados de Adobe, líderes locales, empresarios, emprendedores, diseñadores premiados y grandes programadores.
		                </p>
					</div>
					<div>
						
						<p>
		                    Somos los fundadores de las comunidades más importantes sobre diseño y desarrollo web de habla hispana, nos juntamos para enseñar y compartir nuestro conocimiento. Sabemos de Internet y es nuestra misión enseñar y compartir el conocimiento de la comunidad.
		                </p>
					</div>
				</div>
			</div>
		</footer>
	</div>


{% endblock %}