amarillo = #fbce17
//fuentes 
@css{
@font-face {
    font-family: 'MavenProRegular';
    src: url('../fonts/mavenpro-regular-webfont.eot');
    src: url('../fonts/mavenpro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/mavenpro-regular-webfont.woff') format('woff'),
         url('../fonts/mavenpro-regular-webfont.ttf') format('truetype'),
         url('../fonts/mavenpro-regular-webfont.svg#MavenProRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'LatoRegular';
    src: url('../fonts/lato-regular-webfont.eot');
    src: url('../fonts/lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-regular-webfont.woff') format('woff'),
         url('../fonts/lato-regular-webfont.ttf') format('truetype'),
         url('../fonts/lato-regular-webfont.svg#LatoRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
}
::selection 
	background amarillo
	color white
@import "classes.styl"

* 
	margin 0
	padding 0
body
	background #688b00
	font-family 'MavenProRegular', Arial
	color white
	font-size 16px
li 
	list-style none
img 
	border none 
footer
	background url("../images/conferencia/guatemala/footer.jpg") no-repeat right top
	background-color  #4f2d00
	border-top 4px solid #472300
	h2 
		float left
		font-weight normal
		position relative
		text-transform uppercase
		z-index 3
	.content 
		position relative
		padding-top 70px
		padding-bottom 20px
		height 130px
		width 1100px
	.comunidades 
		position relative 
		z-index 3
		margin-top 20px
		float left
		a:nth-of-type(1)
			margin-right 20px
	
header
	background url("../images/conferencia/guatemala/mundo.jpg") no-repeat center 110px
	float left
	max-width 420px
	width 100%
	padding-top 80px
	h2 
		color amarillo
		text-align center

	#inscripcion
		h3 
			text-transform uppercase
			font-family Arial
			text-align center
			font-size 20px
			margin-top 20px
		input 
			display block
		label 
			text-transform uppercase
			margin-top 15px
			display block
		p 
			font-family: 'LatoRegular';
			font-size 14px
		#confirmacion 
			margin-top 10px
			display none
		
		


	#logo
		margin-bottom 50px
		display block
		text-align center

	.stream 
		margin-bottom 30px
		display block
		h2 
			font-size 22px

		strong 
			font-family Arial
			color white
			display block 
			font-size 40px
			line-height 30px
			text-transform uppercase
#cinta
	background url("../images/conferencia/guatemala/cinta.jpg") no-repeat left top
	width 580px
	height 1012px
	position absolute 
	z-index -1
	left -299px
#nosotros
	float right
	max-width 760px
	width 100%
	position relative
	z-index 2
	a 
		margin-bottom 10px
		display block

	div
		float left 
		width 50%
		box-sizing border-box
		font-size 14px
		&:nth-of-type(1)
			padding-right 50px
			padding-left 15px
#ponentes
	background url("../images/conferencia/guatemala/background-paisaje.jpg") no-repeat top , url("../images/conferencia/guatemala/patron-troncos.jpg") repeat-y center
	padding-top 
	h2 
		color #2d5401
		text-align center
		text-transform uppercase
		font-size 45px
		font-weight normal
		padding 160px 0
		strong
			display block 
			font-weight normal
			font-size 71px
			line-height 50px
		span 
			color #36a7ff
			font-size 24px
			display block
	.content
		max-width 885px 
	.imagen
		width 145px
		img 
			width 90% 
			text-align center
			height auto
	.biografia
		background #eeebda
		color #252525
		width 543px
		padding 25px 
		position relative
		h3 
			color #558000
			text-transform uppercase
			font-size 30px
			font-weight normal
		h4 a
			color #693c05
			text-decoration none 
			font-size 18px
			font-weight normal
			margin-bottom 20px
			display block
		p 
			font-family 'LatoRegular';
			font-size 16px 
			line-height auto
	.ponente
		@extends .clearfix
		.imagen
			transition .3s
			
		&:hover .imagen
			transform rotateY(360deg)
			//background red
		&:nth-of-type(1)
			margin-top 340px
	.ponente:nth-of-type(odd)	
		.imagen
			float left
		.biografia
			float left
			left -1px
	.ponente:nth-of-type(even)
		.imagen
			float right
		.biografia
			float right
			text-align right
			left -3px
#tema
	background url("../images/conferencia/guatemala/tema-linea.jpg") no-repeat left 217px
	float right
	max-width 580px
	padding-top 80px
	width 100%
	height 550px
	li 
		display inline-block
		width 50%
	nav 
		margin 30px 0
	ul 
		text-align center
		font-size 0
	h1 
		color amarillo
		font-size 40px
		font-weight normal
		margin-bottom 25px
		line-height 30px
	p 
		margin 20px 0
		font-size 18px
		line-height auto
	p:nth-of-type(1)
		font-size 24px
		line-height 24px
	#locacion
		background  #5a740b url("../images/conferencia/guatemala/mapa.jpg") no-repeat right top 
		float left
		height 192px
		margin 0 auto
		position relative
		width 532px
		h2 
			font-size 18px 
			font-family Arial
			text-transform uppercase
			margin 30px 0 0 5%
		p 
			font-family Arial
			font-size 13px
			line-height 20px
			margin 0
			margin-left 5%
			width 40%
		.loc 
			background url("../images/conferencia/guatemala/locacion.gif") no-repeat center center
			height 192px
			position absolute
			width 532px
			top 0

	.wrap 
		max-width 530px
		float right
#sede 
	background #ffcc00
	border-top 10px solid white
	h3 
		color black 
		font-family Arial 
		font-size 30px
		margin-bottom 20px
	p 
		color black
		font-weight bold
		float left
		margin-bottom 20px
	#hotel1
		float right
		display block
	#hotel2
		float left
		margin-left -16px
	.fila 
		display block
		@extends .clearfix
		margin-top 10px
		> p 
			vertical-align top
			margin-top 50px
			width 60%
		&:last-child
			margin-top -50px
			p 
				color #de521d
				width 64%
				margin-top 8px
	.content 
		background url("../images/conferencia/guatemala/bus.jpg") no-repeat 60px 80px
		box-sizing border-box
		padding 60px 0 46px 0
	.content.avion
		background url("../images/conferencia/guatemala/avion.jpg") no-repeat 60px 80px
		box-sizing border-box
		padding 60px 0 46px 0
	.bus 
		margin 0 110px 0 380px
#sedes 
	background #efecda
	width 545px
	margin 0 auto
	padding 25px
	color #745826
	margin-top 10px
	text-align center
	h2
		padding 0
		span 
			color #653d26
			font-size 28px
			line-height 28px
			margin-bottom 20px

	p 
		color #421800
#social
	background url("../images/conferencia/guatemala/social.jpg") no-repeat left 15px
	height 122px
	position relative
	width 381px
	margin-left 30px
	margin-top 10px
	> div 
		@extends .clearfix
		box-sizing border-box
		display inline-block
		float left
		height 82px
		opacity 0
		position relative
		transition .3s
		width 116px 
		z-index 2
		&:hover
			opacity 1 
		//top 50px
		&:hover 
			background url("../images/conferencia/guatemala/social-hover.png") no-repeat 
	span 
		display block
		color #feda3b
		font-size 14.5px
		margin-left 20px
		text-transform uppercase
	.cont 
		background none
		color white
		height 82px
		opacity 1
		position absolute
		text-align center
		width 116px 
		strong
			font-size 33px 
			font-family Arial
		p span 
			color white !important
			font-size 21px 
			text-transform none !important
			margin 0
		&.facebook	
			left 130px
			top 40px
		&.twitter
			left 7px
			top 40px
		&.google	
			left 255px
			top 38px
		&:hover 
			background none
	.btn_twitter
		left 8px
		padding 10px 20px
		top 14px

	.btn_facebook
		left 15px
		padding 10px 30px
		top 14px
	.btn_google
		left 23px
		padding 10px 30px
		top 13px
#portada
	padding-bottom 27px
	.content 
		position relative
#sponsors-ghost
	background url("../images/conferencia/guatemala/degradado-logos.jpg") repeat-x left 27px 
	@extends .clearfix
	clear left
	position relative
	z-index -2
	height 262px
	//background #5b7d00
#sponsors
	margin-top -262px
	text-align right
	a 
		display inline-block 
		transition .1s 
		font-size 0
		background white
		&:hover
			transform scale(1.1)
			box-shadow 0 0 10px rgba(black,.5)

	.col 
		text-align right
		vertical-align top
		&:nth-of-type(1)
			margin-top 60px
		&:last-child
			margin-bottom 32px 
	.plata a 
		background rgba(white,.7)
	.cobre a
		background rgba(white,.4)
#viaje 
	#f-viaje 
		width 68% 
		float right
		padding 50px 20px
		margin-top 30px
		text-align left
	input 
		margin 0 auto 
		height 35px
	label 
		font-size 20px
		font-weight bold 
		font-family Arial
	select 
		border-radius 0
		width 97% !important
		padding 0 0 0 15px !important
		option 
			width 100%
	textarea
		height 100px !important
		max-width 90%
		font-family Arial
	.label 
		display block
		text-align left

	.input 
		width 91%
		margin 5px 0
	.mensaje 
		float left
		font-family Arial
		width 28% 
		h3 
			margin 30px 0 10px 0
			font-size 40px
			line-height 40px
			text-transform uppercase
			color #FBCE17
		h4 
			font-size 20px 
			margin-bottom 30px
			line-height 20px
			//font-family 'LatoRegular'
		p 
			font-size 16px
			line-height 18px
			font-weight normal
			font-family 'LatoRegular'
		.sub-tit
			font-size 20px 
			margin 10px 0
			color #FBCE17
	.sexo 
		margin 5px 0
		> *
			vertical-align top
		input 
			height 20px
		span 
			margin 0 20px 0 5px

.content
	width 1000px
	@extends .clearfix
	margin 0 auto
//formularios
#inscripcion,
#f-viaje
	background #5a740b
	border 2px solid #7ca70c
	border-radius 0 100px 0 100px
	box-shadow 0 0 12px #4e6310 inset
	box-sizing border-box
	margin 0 auto
	margin-bottom 30px
	overflow hidden
	padding 20px 
	text-align center
	width 340px
.input
	background white
	border 3px solid #7ca70c
	border-radius 8px
	box-shadow 0 0 6px rgba(#5d7c00,.25)
	font-size 16px
	padding 0 15px
	margin 10px 0
	height 33px 
	outline 0 
	line-height 33px 
	transition .3s
	width 260px
	&:focus	
		border-color amarillo

.submit 
	background #eac805
	border 1px solid #5d7a00
	border-radius 20px 0 20px 0
	box-shadow 0 0 6px rgba(#5d7c00,.25) 
	color #9b7900
	cursor pointer
	font-size 15px 
	font-weight bold 
	display block
	height 40px !important
	line-height 40px 
	margin 0 auto
	margin-top 15px
	text-align center
	text-transform uppercase
	transition .3s
	width 135px 
.submit:hover 
	background #fabe09