{% load static %} {% get_static_prefix as STATIC_PREFIX %}
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8" />
	<title>Conferencias de mejorando.la</title>
	<meta name="viewport" content="width = device-width , initial-scale=1 ,maximum-scale=1 "/>
	<link href="{{ STATIC_PREFIX }}css/header-2.css" rel="stylesheet"  />
	<link href="{{ STATIC_PREFIX }}css/hola.css" rel="stylesheet"  />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script src="{{ STATIC_PREFIX }}js/jquery.form.js"></script>
	<script src="{{ STATIC_PREFIX }}js/form-hola.js"></script>
	<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<script src="{{ STATIC_PREFIX }}js/selectivizr-min.js"></script>
    <noscript>
      <link rel="stylesheet" href="[fallback css]">
    </noscript><![endif]-->
    <script>
    $(function(){
    	var nombre = $('input[type="text"]');
		var email = $('input[type="email"]');

		email.focus(inputs);

		function inputs(){
			email.css('width',360);
			nombre.css('width',360);
		}
    })   	
    </script>
</head>
<body>
	<header>
        <div class="mejor"> 
      		<a id="maestros" href="http://maestrosdelweb.com" target="blank" title="Maestros del web"><img src="{{ STATIC_PREFIX }}/images/hola/maestros.png" alt="Maestros del web" height="43" width="43"></a>
            <h1><a href="http://mejorando.la" title="Mejorando.la"><img class="logo-grande" src="{{ STATIC_PREFIX }}/images/hola/mejorandola.jpg" width="276" height="79" alt="Mejorando.la"></a>
            </h1>
            <a id="cristalab" href="http://cristalab.com" target="blank" title="Cristalab"><img src="{{ STATIC_PREFIX }}/images/hola/cristalab.png" alt="Cristalab" height="43" width="43"></a>
        </div>      
  	</header>
	<div id="white">
		<section id="wrapper">		
		  <section id="cuerpo">
		  		<div id="portada">
			  		<h2 id="titulo">¿Quieres enterarte de los próximos eventos y cursos de <strong>Mejorando.la</strong>?</h2>
			  	</div>
			  	<div id="subtext">
			  		<p id="texto">Hacemos cursos, eventos, conferencias y charlas de todo tipo alrededor del mundo. Muchas son gratis, muchas son online, muchas en tu ciudad. Sabemos que quieres enterarte y sólo te avisaremos de aquellas que ocurran cerca a ti. </p>
			  	</div>
			  	<div id="azul">
		    		<form action="{% url website.views.hola %}" method="POST" id="formulario">
		    			<input id="submit" type="submit" value="registrate">
		    			<label id="inscripcion"></label>
		    			<label id="confirmacion"></label>
		    			<div id="inputs">
			    			<input id="email" type="email" name="email" placeholder="Email" required>
			    			<input id="nombre" type="text" name="nombre" placeholder="Nombre" required>	
		    			</div>	    	
		    		</form>
			  		<div id="items">
			  			<a href="http://mejorando.la/cursos" class="item">
			  				<div class="header">
			  					<h3>Cursos</h3>
			  					<img src="{{STATIC_PREFIX }}/images/hola/cursos.jpg" alt="cursos" height="97" width="97"/>
			  				</div>
			  				<div class="footer">
			  					<p id="texto">Hacemos cursos, eventos, conferencias y charlas de todo tipo alrededor del mundo. Muchas son gratis, muchas son online, muchas en tu ciudad. Sabemos que quieres enterarte y sólo te avisaremos de aquellas que ocurran cerca a ti. </p>
			  				</div>
			  			</a>
			  			<a href="http://mejorando.la/cursos/exalumnos" class="item">
			  				<div class="header">
			  					<h3>Ex alumnos</h3>
			  					<img src="{{STATIC_PREFIX }}/images/hola/exalumnos.jpg" alt="cursos" height="97" width="97"/>
			  				</div>
			  				<div class="footer">
			  					<p id="texto">Hacemos cursos, eventos, conferencias y charlas de todo tipo alrededor del mundo. Muchas son gratis, muchas son online, muchas en tu ciudad. Sabemos que quieres enterarte y sólo te avisaremos de aquellas que ocurran cerca a ti. </p>
			  				</div>
			  			</a>
			  			<a href="http://mejorando.la/conferencias" class="item">
			  				<div class="header">
			  					<h3>Cursos</h3>
			  					<img src="{{STATIC_PREFIX }}/images/hola/conferencias.jpg" alt="cursos" height="97" width="97"/>
			  				</div>
			  				<div class="footer">
			  					<p id="texto">Hacemos cursos, eventos, conferencias y charlas de todo tipo alrededor del mundo. Muchas son gratis, muchas son online, muchas en tu ciudad. Sabemos que quieres enterarte y sólo te avisaremos de aquellas que ocurran cerca a ti. </p>
			  				</div>
			  			</a>
			  			
			  			<a href="http://mejorando.la/videos" class="item">
			  				<div class="header">
			  					<h3>Videos</h3>
			  					<img src="{{STATIC_PREFIX }}/images/hola/videos.jpg" alt="cursos" height="97" width="97"/>
			  				</div>
			  				<div class="footer">
			  					<p id="texto">Hacemos cursos, eventos, conferencias y charlas de todo tipo alrededor del mundo. Muchas son gratis, muchas son online, muchas en tu ciudad. Sabemos que quieres enterarte y sólo te avisaremos de aquellas que ocurran cerca a ti. </p>
			  				</div>
			  			</a>		  			
			  		</div>
			  	</div>
		  </section>
		</section>		
	</div>
	<footer>
		<div class="centro">
			<a href="http://twitter.com/freddier" target="blank">@freddier</a><span>+</span><a href="http://twitter.com/cvander" target="blank">@cvander</a>
			<h4>Transmisión en vivo cada jueves</h4>
		</div>
	</footer>
</body>
</html>