@font-face {
font-family: 'open sans';
src: url("../fonts/opensans-light-webfont.eot");
src: url("../fonts/opensans-light-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/opensans-light-webfont.woff") format('woff'), url("../fonts/opensans-light-webfont.ttf") format('truetype'), url("../fonts/opensans-light-webfont.svg#OpenSansLight") format('svg');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'open sans';
src: url("../fonts/opensans-bold-webfont.eot");
src: url("../fonts/opensans-bold-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/opensans-bold-webfont.woff") format('woff'), url("../fonts/opensans-bold-webfont.ttf") format('truetype'), url("../fonts/opensans-bold-webfont.svg#OpenSansBold") format('svg');
font-weight: bold;
font-style: normal;
}
.ir{direction:ltr;display:block;height:100%;overflow:hidden;position:relative;text-align:left;text-indent:100%;white-space:nowrap;width:100%}
.hidden{display:none}
.visuallyhidden{left:-9999px;position:absolute !important;top:-9999px}
.invisible{visibility:hidden}
.noselect{-o-user-select:none;-ms-user-select:none;-moz-user-select:none;-webkit-user-select:none;-ms-user-select:none;-moz-user-select:none;-webkit-user-select:none;user-select:none;-khtml-user-select:none}
.clearfix{zoom:1;}
.clearfix:after{clear:both;content:"\0020";display:block;height:0;visibility:hidden}
.clear{display:block;clear:both;zoom:1}
.nomargin{margin:0 !important}
*{margin:0}
::selection{text-shadow:0 0 20px #017ecd,1px 1px 1px #808080}
a{color:#fff;text-decoration:none}
a:hover{text-decoration:underline}
p{margin:0}
h1{position:absolute;z-index:10}
h2,h5{font-weight:normal}
body{background:#3c4043;color:#fff;font-family:'open sans',Arial,Sans-serif;font-size:16px}
footer{color:#3d4043;padding-top:75px;text-transform:uppercase;}
footer a{color:#3d4043;text-transform:lowercase;text-decoration:underline}
footer div{display:inline-block;zoom:1;*display:inline;*display:inline;min-height:70px;vertical-align:top;zoom:1}
footer .derecha{font-size:25px;font-weight:bold;height:50px;line-height:70px;}
footer .derecha a{margin:0 85px}
footer .izquierda{background:#3d4043 url("../images/home/footer.jpg") no-repeat right top;color:#fff;padding-right:20px;text-align:right;width:295px;}
footer .izquierda .text{width:220px}
footer .izquierda span{display:block;margin-right:20px;text-align:left}
footer .izquierda span:nth-child(1){font-size:20px;letter-spacing:-1px;margin-top:20px}
footer .izquierda span:nth-child(2){font-size:12px;font-weight:bold}
header{background:#323e4a;margin:0 auto;max-width:1000px;position:relative;z-index:3;}
header h1 a img{position:relative;z-index:20}
header #maestros{left:360px;position:absolute;top:3px}
header #cristalab{left:420px;position:absolute;top:3px}
header .logo-chico{display:none}
header .mejor{background:url("../images/logos/linea.jpg") repeat-x left top;height:42px;position:relative;text-align:left;width:450px;z-index:7}
h3{color:#3d4043;font-size:45px;font-weight:bold;letter-spacing:-1px;text-transform:uppercase}
img{border:none}
strong{font-weight:bold}
#anteriores{background:#fff;min-width:100%;overflow:hidden;position:relative;text-align:center;text-transform:uppercase;}
#anteriores .todos{background:url("../images/home/playall_largo.png") no-repeat left top;color:#3f4044;position:absolute;right:0;padding:7px 20px 7px 30px;}
#anteriores .todos a{color:#3f4044;font-size:14px;font-weight:bold}
#anteriores h3{margin-left:80px;text-align:left}
#anteriores .capitulo:nth-child(5){margin-right:0}
#anteriores .capitulo{border-right:1px solid #fff;display:inline-block;zoom:1;*display:inline;height:157px;margin:0 21px 0 0;vertical-align:top;width:230px;zoom:1;}
#anteriores .capitulo p{background:rgba(0,0,0,0.50);display:inline}
#anteriores .capitulo .hora{opacity:0 ;-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0) ;filter:alpha(opacity=0) ;-webkit-transition:.3s}
#anteriores .capitulo h2{background:rgba(0,0,0,0.50);display:inline}
#anteriores .capitulo .block{display:block;margin-top:5px}
#anteriores .capitulo .cap{font-size:14px;font-weight:bold;margin-bottom:12px}
#anteriores .capitulo .imagen{position:absolute;z-index:1;}
#anteriores .capitulo .imagen img{width:230px;height:157px}
#anteriores .capitulo .texto{line-height:20px;padding:15px 15px 0 15px;position:relative;text-align:left;text-transform:none;word-break:break-word;z-index:2}
#anteriores .capitulo article:nth-child(1){border-left:2px solid #fff}
#anteriores .capitulo article:nth-child(4){border-right:2px solid #fff}
#anteriores .capitulo:hover .hora{opacity:1 ;-ms-filter:none;filter:none}
#anteriores .tit{font-size:23px}
#cuerpo,hgroup,footer{background:#fff;margin:0 auto;width:1000px}
#cursos{background:#fff;padding-top:65px;text-transform:uppercase;}
#cursos h3{margin-left:80px;}
#cursos h3 a{color:#3d4043}
#cursos a{color:#fff}
#cursos a:hover{text-decoration:none}
#cursos a:hover h5{text-decoration:underline}
#cursos .azulclaro{background:#0073e8}
#cursos .azuloscuro{background:#0186b8}
#cursos .verdeclaro{background:#04a764}
#cursos .verdeoscuro{background:#03978d}
#cursos .pais{height:56px;margin-top:3px;position:relative;}
#cursos .pais div{*display:inline;display:inline-block;zoom:1;*display:inline;vertical-align:top;zoom:1}
#cursos .pais .imagen img{height:56px}
#cursos .pais .fecha{margin-left:25px;}
#cursos .pais .fecha h4{font-size:15px;font-weight:bold;margin:7px 0 -7px 3px}
#cursos .pais .fecha p{font-size:32px}
#cursos .pais .fecha strong{font-weight:normal}
#cursos .pais .nombre{font-size:32px;padding-top:18px;text-align:left;width:656px;margin-left:5px;position:relative;}
#cursos .pais .nombre a{position:relative}
#cursos .pais .tec{background:url("../images/home/fondo-logo-tec.png");height:66px;position:absolute;right:0;width:115px;}
#cursos .pais .tec img{margin-left:60px;margin-top:-5px;vertical-align:middle}
#cursos .pais .tec:after{display:block;clear:both}
#proximo{background:#fff;color:#3d4043;margin-bottom:20px;padding-top:25px;text-align:center;}
#proximo h3{font-size:35px;font-weight:normal;letter-spacing:15px;margin:10px 0 10px;text-transform:uppercase}
#proximo .cuenta{display:inline-block;zoom:1;*display:inline;*display:inline;margin-right:40px;vertical-align:top;zoom:1;}
#proximo .cuenta:last-child{margin-right:0}
#proximo .cuenta .leyenda{font-size:12px;margin-top:10px;text-transform:uppercase}
#proximo .cuenta .digito{background:#3d4043 url("../images/home/punto-blanco.gif") center repeat-x;color:#fff;font-size:50px;font-weight:bold;font-size:57px;padding:10px 5px}
#social{margin:-50px auto 0 auto;margin-left:310px;position:absolute;width:400px;z-index:5;}
#social div{display:inline-block;zoom:1;*display:inline;*display:inline;margin-left:40px;vertical-align:top;zoom:1}
#social div:nth-child(1){margin-left:0}
#social .btn_youtube:after,#social .btn_twitter:after,#social .btn_facebook:after,#social .btn_googlemas:after{background:#fff;-o-border-radius:5px;-ms-border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;content:"";height:30px;margin-left:-5px;margin-top:-28px;display:block;width:60px}
#social .btn_youtube:after{width:70px}
#social .btn_twitter:after{width:80px}
#social .btn_facebook,#social .btn_googlemas{width:55px}
#social .btn_facebook:after{margin-top:-25px;width:55px}
#ultimo{height:500px;width:100%;}
#ultimo .absolute{height:500px;position:absolute;width:1000px;z-index:1}
#ultimo .datos{position:relative;z-index:4;}
#ultimo .datos .titulo{-webkit-transition:.3s;margin-right:20px;font-size:60px;font-weight:normal;line-height:50px;margin-top:5px;max-width:90%}
#ultimo .datos .titulo:hover{text-shadow:0 0 20px rgba(255,255,255,0.50);text-decoration:none}
#ultimo .tela{background:rgba(0,0,0,0.50);position:absolute;z-index:2;width:1000px;height:500px}
#ultimo .boton,#ultimo .fecha,#ultimo .horario,#ultimo .titulo{clear:both;display:block;float:right;margin-right:40px;text-align:right}
#ultimo .boton{font-weight:bold;margin-top:10px;text-transform:uppercase;-o-transition:.5s;-ms-transition:.5s;-moz-transition:.5s;-webkit-transition:.5s;transition:.5s}
#ultimo .boton:hover{text-shadow:0 0 10px #fff}
#ultimo .fecha{font-size:15px;letter-spacing:10px;text-transform:uppercase}
#ultimo .horario{display:block;font-size:11px;letter-spacing:3px;margin:115px 40px 0 0;text-transform:uppercase;}
#ultimo .horario .block{display:block}
#ultimo .horario .big{font-size:40px;letter-spacing:1px}
.cinta{background:url("../images/home/countdown_separador.jpg");-webkit-background-size:100%;background-size:100%;border-bottom:1px solid #fff;height:32px;width:100%}
.menu{background:#323e4a;font-family:Arial;margin:0 auto;position:absolute;top:0;width:100%;z-index:6;}
.menu ul{font-size:0;padding:0;text-align:right}
.menu li{display:inline-block;zoom:1;*display:inline;font-size:14px;font-weight:bold;position:relative;text-align:center;text-transform:uppercase;vertical-align:top;z-index:5;}
.menu li:hover{background:#1c2127}
.menu a{display:block;height:42px;line-height:42px;color:#898c93;float:right;text-align:center;padding:0 10px}
.ie8 #ultimo .datos .titulo{max-width:none !important;padding-left:30px !important}
.ie8 .tela{background:url("../images/home/tela.png")}
.ie8 .block .tit{background:url("../images/home/tela.png")}
#envivo{background:#000;height:60px;margin:0 auto;width:1000px;position:relative;overflow:hidden;display:block}
@-webkit-keyframes envivo{100%{-webkit-transform:translateX(0)}
0%{-webkit-transform:translateX(-1000px)}
}@-moz-keyframes envivo{100%{-moz-transform:translateX(0)}
0%{-moz-transform:translateX(-1000px)}
}#envivo .patron{-webkit-animation:25s envivo infinite linear;-moz-animation:25s envivo infinite linear;background:url("../images/patron.jpg") repeat-x;width:2000px;height:60px;position:relative;z-index:1}
#envivo .vivo{position:absolute;right:0;top:0;display:block;z-index:2}
@media screen and (min-width:801px) and (max-width:1000px){body{overflow-x:hidden}
footer .izquierda{padding-left:15px;padding-right:3%;width:25%}
footer .derecha{float:right;line-height:200%;text-align:center;width:65%}
footer .derecha a{margin:0;display:inline-block;zoom:1;*display:inline;width:40%}
footer .derecha span:nth-child(1){display:none}
#cuerpo,hgroup,footer{max-width:1000px;min-width:800px;width:auto}
#anteriores{height:190px}
#cursos .pais .nombre{width:60%;font-size:25px}
#cursos .pais .fecha p{font-size:25px}
#social{position:relative;margin-left:auto}
#ultimo{overflow:hidden;position:relative;}
#ultimo .datos{position:relative;z-index:4;width:100%;height:500px}
#ultimo .tela{width:100%}
#ultimo .boton{bottom:80px;position:absolute;right:20px;width:100%}
#ultimo .fecha{bottom:60px;position:absolute;right:20px;width:100%}
}@media screen and (max-width:800px){header{height:87px;}
header #maestros{left:220px}
header #cristalab{left:285px}
header .logo-chico{display:block}
header .logo-grande{display:none}
header .mejor{width:auto}
footer{padding-top:10px;}
footer a{color:#fff}
footer div{min-height:0;padding-bottom:5px}
footer .derecha{background:#3d4043;color:#fff;text-align:center;width:100%;}
footer .derecha span:nth-child(1){display:none}
footer .derecha a{display:inline-block;zoom:1;*display:inline;margin:0;width:40%}
footer .izquierda{background:#fff;padding-right:0;text-align:center;width:100%;}
footer .izquierda .text{color:#3d4043;width:100%}
footer .izquierda span{display:inline-block;zoom:1;*display:inline;margin-right:4px}
footer .izquierda span:nth-child(1){font-size:15px;letter-spacing:0}
footer .izquierda span:nth-child(2){font-size:15px;font-weight:normal}
h3{font-size:30px;font-weight:normal;letter-spacing:2px}
#cuerpo,hgroup,footer{max-width:800px;min-width:320px;width:auto}
#anteriores{height:148px;}
#anteriores .capitulo{border-right:1px solid #fff;height:115px;margin:0;width:156px;}
#anteriores .capitulo .imagen img{width:156px;height:115px}
#anteriores .capitulo .texto{padding:10px}
#anteriores .capitulo article:nth-child(1){border-left:0}
#anteriores .capitulo article:nth-child(2){border-right:0}
#anteriores .tit{font-size:20px;word-break:break-all}
#cursos{padding-top:10px;}
#cursos h3{margin-left:20px}
#cursos .pais{height:65px;padding-bottom:10px;}
#cursos .pais .imagen{left:65%;position:absolute;top:40%;z-index:2;}
#cursos .pais .imagen img{height:19px}
.pais.azuloscuro .fecha{background:#01729e url("../images/home/azul_oscuro.jpg") no-repeat left}
.pais.azulclaro .fecha{background:#0062c5 url("../images/home/azul_claro.jpg") no-repeat left}
#cursos .pais .fecha{height:50px;margin-left:0;padding:10px 2% 15px 0;position:absolute;right:0;text-align:right;width:35%;z-index:1;}
#cursos .pais .fecha p{font-size:15px;font-weight:bold;margin-top:5px}
#cursos .pais .fecha strong{display:none}
#cursos .pais .nombre{font-size:20px;width:61%;margin-left:2%}
#cursos .pais .nombre a{position:relative}
#cursos .pais .tec{display:none}
#proximo{padding-top:1px;}
#proximo h3{font-size:22px;letter-spacing:2px}
#proximo .cuenta:nth-child(even){margin:0 30px}
#social{display:none}
#ultimo{overflow:hidden;position:relative;height:370px;}
#ultimo .datos{height:280px;position:relative;z-index:4}
#ultimo .datos .titulo{font-size:30px;line-height:35px;margin-right:auto;position:absolute;top:35px;max-width:100%;width:100%}
#ultimo .tela{width:100%}
#ultimo .boton,#ultimo .fecha,#ultimo .horario,#ultimo .titulo{float:none;margin-right:auto;text-align:center}
#ultimo .boton{bottom:0;font-size:20px;position:absolute;width:100%}
#ultimo .fecha{bottom:-20px;font-size:18px;position:absolute;width:100%}
#ultimo .horario{margin:60px auto 0 auto}
#ultimo .horario strong:nth-child(1){font-weight:normal}
#ultimo .horario .big{font-size:30px}
.menu{top:42px;}
.menu ul{min-width:320px;padding-top:0;text-align:center;li-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;width:auto;}
.menu ul:nth-child(even){background:none;border-left:1px solid #fff;border-right:1px solid #fff}
.menu ul a{height:44px;line-height:44px}
}@media screen and (max-width:480px){.menu ul li a{padding:0 5px;font-size:12px}
}