@font-face {
  font-family: 'MavenProRegular';
  src: url('../fonts/mavenpro-regular-webfont.eot');
  src: url('../fonts/mavenpro-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/mavenpro-regular-webfont.woff') format('woff'),
       url('../fonts/mavenpro-regular-webfont.ttf') format('truetype'),
       url('../fonts/mavenpro-regular-webfont.svg#MavenProRegular') format('svg');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'LatoRegular';
  src: url('../fonts/lato-regular-webfont.eot');
  src: url('../fonts/lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/lato-regular-webfont.woff') format('woff'),
       url('../fonts/lato-regular-webfont.ttf') format('truetype'),
       url('../fonts/lato-regular-webfont.svg#LatoRegular') format('svg');
  font-weight: normal;
  font-style: normal;

}
::selection{background:#fbce17;color:#fff}
.ir{direction:ltr;display:block;height:100%;overflow:hidden;position:relative;text-align:left;text-indent:100%;white-space:nowrap;width:100%}
.hidden{display:none}
.visuallyhidden{left:-9999px;position:absolute !important;top:-9999px}
.invisible{visibility:hidden}
.noselect{-o-user-select:none;-ms-user-select:none;-moz-user-select:none;-webkit-user-select:none;-ms-user-select:none;-moz-user-select:none;-webkit-user-select:none;user-select:none;-khtml-user-select:none}
.clearfix,#ponentes .ponente,#sede .fila,#social > div,#sponsors-ghost,.content{zoom:1;}
.clearfix:after,#ponentes .ponente:after,#sede .fila:after,#social > div:after,#sponsors-ghost:after,.content:after{clear:both;content:"\0020";display:block;height:0;visibility:hidden}
.clear{display:block;clear:both;zoom:1}
.nomargin{margin:0 !important}
*{margin:0;padding:0}
body{background:#688b00;font-family:'MavenProRegular',Arial;color:#fff;font-size:16px}
li{list-style:none}
img{border:none}
footer{background:url("../images/conferencia/guatemala/footer.jpg") no-repeat right top;background-color:#4f2d00;border-top:4px solid #472300;}
footer h2{float:left;font-weight:normal;position:relative;text-transform:uppercase;z-index:3}
footer .content{position:relative;padding-top:70px;padding-bottom:20px;height:130px;width:1100px}
footer .comunidades{position:relative;z-index:3;margin-top:20px;float:left;}
footer .comunidades a:nth-of-type(1){margin-right:20px}
header{background:url("../images/conferencia/guatemala/mundo.jpg") no-repeat center 110px;float:left;max-width:420px;width:100%;padding-top:80px;}
header h2{color:#fbce17;text-align:center}
header #inscripcion h3{text-transform:uppercase;font-family:Arial;text-align:center;font-size:20px;margin-top:20px}
header #inscripcion input{display:block}
header #inscripcion label{text-transform:uppercase;margin-top:15px;display:block}
header #inscripcion p{font-family:'LatoRegular';font-size:14px}
header #inscripcion #confirmacion{margin-top:10px;display:none}
header #logo{margin-bottom:50px;display:block;text-align:center}
header .stream{margin-bottom:30px;display:block;}
header .stream h2{font-size:22px}
header .stream strong{font-family:Arial;color:#fff;display:block;font-size:40px;line-height:30px;text-transform:uppercase}
#cinta{background:url("../images/conferencia/guatemala/cinta.jpg") no-repeat left top;width:580px;height:1012px;position:absolute;z-index:-1;left:-299px}
#nosotros{float:right;max-width:760px;width:100%;position:relative;z-index:2;}
#nosotros a{margin-bottom:10px;display:block}
#nosotros div{float:left;width:50%;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;font-size:14px;}
#nosotros div:nth-of-type(1){padding-right:50px;padding-left:15px}
#ponentes{background:url("../images/conferencia/guatemala/background-paisaje.jpg") no-repeat top,url("../images/conferencia/guatemala/patron-troncos.jpg") repeat-y center;padding-top}
#ponentes h2{color:#2d5401;text-align:center;text-transform:uppercase;font-size:45px;font-weight:normal;padding:160px 0;}
#ponentes h2 strong{display:block;font-weight:normal;font-size:71px;line-height:50px}
#ponentes h2 span{color:#36a7ff;font-size:24px;display:block}
#ponentes .content{max-width:885px}
#ponentes .imagen{width:145px;}
#ponentes .imagen img{width:90%;text-align:center;height:auto}
#ponentes .biografia{background:#eeebda;color:#252525;width:543px;padding:25px;position:relative;}
#ponentes .biografia h3{color:#558000;text-transform:uppercase;font-size:30px;font-weight:normal}
#ponentes .biografia h4 a{color:#693c05;text-decoration:none;font-size:18px;font-weight:normal;margin-bottom:20px;display:block}
#ponentes .biografia p{font-family:'LatoRegular';font-size:16px;line-height:auto}
#ponentes .ponente .imagen{-o-transition:.3s;-ms-transition:.3s;-moz-transition:.3s;-webkit-transition:.3s;transition:.3s}
#ponentes .ponente:hover .imagen{-o-transform:rotateY(360deg);-ms-transform:rotateY(360deg);-moz-transform:rotateY(360deg);-webkit-transform:rotateY(360deg);transform:rotateY(360deg)}
#ponentes .ponente:nth-of-type(1){margin-top:340px}
#ponentes .ponente:nth-of-type(odd) .imagen{float:left}
#ponentes .ponente:nth-of-type(odd) .biografia{float:left;left:-1px}
#ponentes .ponente:nth-of-type(even) .imagen{float:right}
#ponentes .ponente:nth-of-type(even) .biografia{float:right;text-align:right;left:-3px}
#tema{background:url("../images/conferencia/guatemala/tema-linea.jpg") no-repeat left 217px;float:right;max-width:580px;padding-top:80px;width:100%;height:550px;}
#tema li{display:inline-block;zoom:1;*display:inline;width:50%}
#tema nav{margin:30px 0}
#tema ul{text-align:center;font-size:0}
#tema h1{color:#fbce17;font-size:40px;font-weight:normal;margin-bottom:25px;line-height:30px}
#tema p{margin:20px 0;font-size:18px;line-height:auto}
#tema p:nth-of-type(1){font-size:24px;line-height:24px}
#tema #locacion{background:#5a740b url("../images/conferencia/guatemala/mapa.jpg") no-repeat right top;float:left;height:192px;margin:0 auto;position:relative;width:532px;}
#tema #locacion h2{font-size:18px;font-family:Arial;text-transform:uppercase;margin:30px 0 0 5%}
#tema #locacion p{font-family:Arial;font-size:13px;line-height:20px;margin:0;margin-left:5%;width:40%}
#tema #locacion .loc{background:url("../images/conferencia/guatemala/locacion.gif") no-repeat center center;height:192px;position:absolute;width:532px;top:0}
#tema .wrap{max-width:530px;float:right}
#sede{background:#fc0;border-top:10px solid #fff;}
#sede h3{color:#000;font-family:Arial;font-size:30px;margin-bottom:20px}
#sede p{color:#000;font-weight:bold;float:left;margin-bottom:20px}
#sede #hotel1{float:right;display:block}
#sede #hotel2{float:left;margin-left:-16px}
#sede .fila{display:block;margin-top:10px;}
#sede .fila > p{vertical-align:top;margin-top:50px;width:60%}
#sede .fila:last-child{margin-top:-50px;}
#sede .fila:last-child p{color:#de521d;width:64%;margin-top:8px}
#sede .content{background:url("../images/conferencia/guatemala/bus.jpg") no-repeat 60px 80px;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;padding:60px 0 46px 0}
#sede .content.avion{background:url("../images/conferencia/guatemala/avion.jpg") no-repeat 60px 80px;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;padding:60px 0 46px 0}
#sede .bus{margin:0 110px 0 380px}
#sedes{background:#efecda;width:545px;margin:0 auto;padding:25px;color:#745826;margin-top:10px;text-align:center;}
#sedes h2{padding:0;}
#sedes h2 span{color:#653d26;font-size:28px;line-height:28px;margin-bottom:20px}
#sedes p{color:#421800}
#social{background:url("../images/conferencia/guatemala/social.jpg") no-repeat left 15px;height:122px;position:relative;width:381px;margin-left:30px;margin-top:10px;}
#social > div{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;display:inline-block;zoom:1;*display:inline;float:left;height:82px;opacity:0 ;-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0) ;filter:alpha(opacity=0) ;position:relative;-o-transition:.3s;-ms-transition:.3s;-moz-transition:.3s;-webkit-transition:.3s;transition:.3s;width:116px;z-index:2;}
#social > div:hover{opacity:1 ;-ms-filter:none;filter:none}
#social > div:hover{background:url("../images/conferencia/guatemala/social-hover.png") no-repeat}
#social span{display:block;color:#feda3b;font-size:14.5px;margin-left:20px;text-transform:uppercase}
#social .cont{background:none;color:#fff;height:82px;opacity:1 ;-ms-filter:none;filter:none;position:absolute;text-align:center;width:116px;}
#social .cont strong{font-size:33px;font-family:Arial}
#social .cont p span{color:#fff !important;font-size:21px;text-transform:none !important;margin:0}
#social .cont.facebook{left:130px;top:40px}
#social .cont.twitter{left:7px;top:40px}
#social .cont.google{left:255px;top:38px}
#social .cont:hover{background:none}
#social .btn_twitter{left:8px;padding:10px 20px;top:14px}
#social .btn_facebook{left:15px;padding:10px 30px;top:14px}
#social .btn_google{left:23px;padding:10px 30px;top:13px}
#portada{padding-bottom:27px;}
#portada .content{position:relative}
#sponsors-ghost{background:url("../images/conferencia/guatemala/degradado-logos.jpg") repeat-x left 27px;clear:left;position:relative;z-index:-2;height:262px}
#sponsors{margin-top:-262px;text-align:right;}
#sponsors a{display:inline-block;zoom:1;*display:inline;-o-transition:.1s;-ms-transition:.1s;-moz-transition:.1s;-webkit-transition:.1s;transition:.1s;font-size:0;background:#fff;}
#sponsors a:hover{-o-transform:scale(1.1);-ms-transform:scale(1.1);-moz-transform:scale(1.1);-webkit-transform:scale(1.1);transform:scale(1.1);-o-box-shadow:0 0 10px rgba(0,0,0,0.50);-ms-box-shadow:0 0 10px rgba(0,0,0,0.50);-moz-box-shadow:0 0 10px rgba(0,0,0,0.50);-webkit-box-shadow:0 0 10px rgba(0,0,0,0.50);box-shadow:0 0 10px rgba(0,0,0,0.50);-webkit-background-clip:padding-box}
#sponsors .col{text-align:right;vertical-align:top;}
#sponsors .col:nth-of-type(1){margin-top:60px}
#sponsors .col:last-child{margin-bottom:32px}
#sponsors .plata a{background:rgba(255,255,255,0.70)}
#sponsors .cobre a{background:rgba(255,255,255,0.40)}
#viaje #f-viaje{width:68%;float:right;padding:50px 20px;margin-top:30px;text-align:left}
#viaje input{margin:0 auto;height:35px}
#viaje label{font-size:20px;font-weight:bold;font-family:Arial}
#viaje select{-o-border-radius:0;-ms-border-radius:0;-moz-border-radius:0;-webkit-border-radius:0;border-radius:0;width:97% !important;padding:0 0 0 15px !important;}
#viaje select option{width:100%}
#viaje textarea{height:100px !important;max-width:90%;font-family:Arial}
#viaje .label{display:block;text-align:left}
#viaje .input{width:91%;margin:5px 0}
#viaje .mensaje{float:left;font-family:Arial;width:28%;}
#viaje .mensaje h3{margin:30px 0 10px 0;font-size:40px;line-height:40px;text-transform:uppercase;color:#fbce17}
#viaje .mensaje h4{font-size:20px;margin-bottom:30px;line-height:20px}
#viaje .mensaje p{font-size:16px;line-height:18px;font-weight:normal;font-family:'LatoRegular'}
#viaje .mensaje .sub-tit{font-size:20px;margin:10px 0;color:#fbce17}
#viaje .sexo{margin:5px 0;}
#viaje .sexo > *{vertical-align:top}
#viaje .sexo input{height:20px}
#viaje .sexo span{margin:0 20px 0 5px}
.content{width:1000px;margin:0 auto}
#inscripcion,#f-viaje{background:#5a740b;border:2px solid #7ca70c;-o-border-radius:0 100px 0 100px;-ms-border-radius:0 100px 0 100px;-moz-border-radius:0 100px 0 100px;-webkit-border-radius:0 100px 0 100px;border-radius:0 100px 0 100px;-o-box-shadow:0 0 12px #4e6310 inset;-ms-box-shadow:0 0 12px #4e6310 inset;-moz-box-shadow:0 0 12px #4e6310 inset;-webkit-box-shadow:0 0 12px #4e6310 inset;box-shadow:0 0 12px #4e6310 inset;-webkit-background-clip:padding-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;margin:0 auto;margin-bottom:30px;overflow:hidden;padding:20px;text-align:center;width:340px}
.input{background:#fff;border:3px solid #7ca70c;-o-border-radius:8px;-ms-border-radius:8px;-moz-border-radius:8px;-webkit-border-radius:8px;border-radius:8px;-o-box-shadow:0 0 6px rgba(93,124,0,0.25);-ms-box-shadow:0 0 6px rgba(93,124,0,0.25);-moz-box-shadow:0 0 6px rgba(93,124,0,0.25);-webkit-box-shadow:0 0 6px rgba(93,124,0,0.25);box-shadow:0 0 6px rgba(93,124,0,0.25);-webkit-background-clip:padding-box;font-size:16px;padding:0 15px;margin:10px 0;height:33px;outline:0;line-height:33px;-o-transition:.3s;-ms-transition:.3s;-moz-transition:.3s;-webkit-transition:.3s;transition:.3s;width:260px;}
.input:focus{border-color:#fbce17}
.submit{background:#eac805;border:1px solid #5d7a00;-o-border-radius:20px 0 20px 0;-ms-border-radius:20px 0 20px 0;-moz-border-radius:20px 0 20px 0;-webkit-border-radius:20px 0 20px 0;border-radius:20px 0 20px 0;-o-box-shadow:0 0 6px rgba(93,124,0,0.25);-ms-box-shadow:0 0 6px rgba(93,124,0,0.25);-moz-box-shadow:0 0 6px rgba(93,124,0,0.25);-webkit-box-shadow:0 0 6px rgba(93,124,0,0.25);box-shadow:0 0 6px rgba(93,124,0,0.25);-webkit-background-clip:padding-box;color:#9b7900;cursor:pointer;font-size:15px;font-weight:bold;display:block;height:40px !important;line-height:40px;margin:0 auto;margin-top:15px;text-align:center;text-transform:uppercase;-o-transition:.3s;-ms-transition:.3s;-moz-transition:.3s;-webkit-transition:.3s;transition:.3s;width:135px}
.submit:hover{background:#fabe09}
