@font-face {
  font-family: 'open sans';
  src: url("../fonts/opensans-light-webfont.eot");
  src: url("../fonts/opensans-light-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/opensans-light-webfont.woff") format('woff'), url("../fonts/opensans-light-webfont.ttf") format('truetype'), url("../fonts/opensans-light-webfont.svg#OpenSansLight") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open sans';
  src: url("../fonts/opensans-bold-webfont.eot");
  src: url("../fonts/opensans-bold-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/opensans-bold-webfont.woff") format('woff'), url("../fonts/opensans-bold-webfont.ttf") format('truetype'), url("../fonts/opensans-bold-webfont.svg#OpenSansBold") format('svg');
  font-weight: bold;
  font-style: normal;
}
.ir{direction:ltr;display:block;height:100%;overflow:hidden;position:relative;text-align:left;text-indent:100%;white-space:nowrap;width:100%}
.hidden{display:none}
.visuallyhidden{left:-9999px;position:absolute !important;top:-9999px}
.invisible{visibility:hidden}
.noselect{-o-user-select:none;-ms-user-select:none;-moz-user-select:none;-webkit-user-select:none;-ms-user-select:none;-moz-user-select:none;-webkit-user-select:none;user-select:none;-khtml-user-select:none}
.clearfix{zoom:1;}
.clearfix:after{clear:both;content:"\0020";display:block;height:0;visibility:hidden}
.clear{display:block;clear:both;zoom:1}
.nomargin{margin:0 !important}
*{margin:0}
body{background:#0073e8;color:#fff;font-family:'open sans',Arial,Sans-serif;font-size:16px}
h1{margin:0;}
h1 a{position:relative;z-index:10}
header{background:#fff;margin:0 auto;max-width:1000px;position:relative;height:96px;z-index:3;background:url("../images/hola/linea.jpg") repeat-x;}
header h1 a img{position:relative;z-index:20}
header #maestros{right:0;position:absolute;top:28px}
header #cristalab{left:0;position:absolute;top:28px}
header .mejor{position:relative;text-align:center;max-width:570px;margin:0 auto;z-index:7;height:100%;background:#fff;}
header .mejor h1{display:inline-block;zoom:1;*display:inline;margin-top:10px;}
header .mejor h1 img{max-width:276px}
@media screen and (max-width:600px){header .mejor h1 img{max-width:80%;height:auto;margin-top:5%}
}