@font-face {
  font-family: 'open sans';
  src: url("../fonts/opensans-light-webfont.eot");
  src: url("../fonts/opensans-light-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/opensans-light-webfont.woff") format('woff'), url("../fonts/opensans-light-webfont.ttf") format('truetype'), url("../fonts/opensans-light-webfont.svg#OpenSansLight") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open sans';
  src: url("../fonts/opensans-bold-webfont.eot");
  src: url("../fonts/opensans-bold-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/opensans-bold-webfont.woff") format('woff'), url("../fonts/opensans-bold-webfont.ttf") format('truetype'), url("../fonts/opensans-bold-webfont.svg#OpenSansBold") format('svg');
  font-weight: bold;
  font-style: normal;
}
*{margin:0}
body{background:#0073e8;color:#fff;font-family:'open sans',Arial,Sans-serif;font-size:16px}
h1{margin:0;}
h1 a{position:relative;z-index:10}
header{background:#323e4a;margin:0 auto;max-width:1000px;position:relative;z-index:3;}
header h1 a img{position:relative;z-index:20}
header #maestros{left:220px;position:absolute;top:3px}
header #cristalab{left:285px;position:absolute;top:3px}
header .logo-grande{display:none}
header .mejor{background:url("../images/logos/linea.jpg") repeat-x left top;height:42px;position:relative;text-align:left;width:320px;z-index:7}
.menu{background:#323e4a;font-family:Arial;margin:0 auto;position:absolute;top:0;width:100%;z-index:6;}
.menu ul{font-size:0;padding:0;text-align:right}
.menu li{display:inline-block;font-size:14px;font-weight:bold;position:relative;text-align:center;text-transform:uppercase;vertical-align:top;z-index:5;}
.menu li:hover{background:#1c2127}
.menu a{display:block;height:42px;line-height:42px;color:#898c93;float:right;text-align:center;padding:0 10px}
@media screen and (max-width:800px){header{height:87px;}
header .mejor{width:auto}
.menu{top:42px;}
.menu ul{min-width:320px;padding-top:0;text-align:center;libox-sizing:border-box;width:auto;}
.menu ul:nth-child(even){background:none;border-left:1px solid #fff;border-right:1px solid #fff}
.menu ul a{height:44px;line-height:44px}
}@media screen and (max-width:480px){.menu ul li a{padding:0 5px;font-size:12px}
}