.ir{direction:ltr;display:block;height:100%;overflow:hidden;position:relative;text-align:left;text-indent:100%;white-space:nowrap;width:100%}
.hidden{display:none}
.visuallyhidden{left:-9999px;position:absolute !important;top:-9999px}
.invisible{visibility:hidden}
.noselect{-o-user-select:none;-ms-user-select:none;-moz-user-select:none;-webkit-user-select:none;-ms-user-select:none;-moz-user-select:none;-webkit-user-select:none;user-select:none;-khtml-user-select:none}
.clearfix{zoom:1;}
.clearfix:after{clear:both;content:"\0020";display:block;height:0;visibility:hidden}
.clear{display:block;clear:both;zoom:1}
.nomargin{margin:0 !important}
body{overflow-x:hidden;background:#fff;color:#555a5e}
a{color:#555a5e;text-decoration:none}
footer{background:#60676f;margin-bottom:20px;text-align:center;}
footer .centro{background:#fff;max-width:470px;margin:0 auto;padding:10px 0;}
footer .centro span{margin:0 50px}
footer .centro a,footer .centro span{font-size:25px;font-weight:bold}
footer .centro h4{text-transform:uppercase;font-weight:normal;letter-spacing:5px;font-size:12px}
#white{background:#fff;margin:0 auto;max-width:1000px;text-align:center}
#cuerpo #azul{background:#0670dd}
#cuerpo #portada{background:url("../images/hola/portada.jpg") no-repeat top center;position:relative;height:360px;}
#cuerpo #portada #titulo{background:rgba(0,0,0,0.70);bottom:0;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;color:#fff;font-size:40px;font-weight:normal;left:0;line-height:40px;padding:20px 25px;position:absolute;text-align:right;text-transform:uppercase;width:100%}
#cuerpo #subtext{padding-bottom:20px;}
#cuerpo #subtext #texto{color:#555a5e;font-family:Arial;line-height:22px;margin:0 auto;max-width:720px;padding:30px;text-align:center}
#cuerpo #items{text-align:center;font-size:0;margin:0 auto 70px auto;}
#cuerpo #items .item{display:inline-block;zoom:1;*display:inline;font-size:16px;width:25%;vertical-align:top;}
#cuerpo #items .item h3{color:#fff;margin-bottom:10px}
#cuerpo #items .item img{margin-bottom:10px}
#cuerpo #items .item .footer{background:#fff url("../images/hola/shape.png") no-repeat top center;padding:20px;font-size:14px;font-family:Arial;line-height:17px}
#cuerpo #items .item:hover img{-o-animation-duration:.3s;-ms-animation-duration:.3s;-moz-animation-duration:.3s;-webkit-animation-duration:.3s;animation-duration:.3s;-o-animation-name:item;-ms-animation-name:item;-moz-animation-name:item;-webkit-animation-name:item;animation-name:item;-o-animation-iteration-count:5;-ms-animation-iteration-count:5;-moz-animation-iteration-count:5;-webkit-animation-iteration-count:5;animation-iteration-count:5}
#nombre{opacity:0 ;-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0) ;filter:alpha(opacity=0) ;-webkit-transition:.3s}
#email{position:relative;z-index:2}
#formulario{background:url("../images/hola/pattern_btn_post.png");color:#0073e8;max-width:880px;margin:0 auto 40px auto;padding-bottom:20px;}
#formulario label{display:block}
#formulario input{display:block;margin:5px 0;font-family:Arial;-webkit-box-sizing:border-box}
#formulario input[type="text"]{position:absolute;right:0;top:0}
#formulario input[type="text"],#formulario input[type="email"]{border:3px solid rgba(6,112,221,0.50);padding:10px 5px;-o-border-radius:3px;-ms-border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;font-size:16px;max-width:740px;width:100%;display:inline-block;zoom:1;*display:inline;-o-transition:.3s;-ms-transition:.3s;-moz-transition:.3s;-webkit-transition:.3s;transition:.3s;outline:0}
#formulario input[type="submit"]{background:#fe9c13;border:3px solid #fff;-o-border-radius:2px;-ms-border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;color:#fff;padding:12px 40px;text-transform:uppercase;font-size:17px;font-weight:bold;margin:0 auto;cursor:pointer;position:relative;top:-30px}
#formulario #inputs{position:relative}
@-moz-keyframes item{50%{-o-transform:translateY(10px);-ms-transform:translateY(10px);-moz-transform:translateY(10px);-webkit-transform:translateY(10px);transform:translateY(10px)}
100%{-o-transform:translateY(0);-ms-transform:translateY(0);-moz-transform:translateY(0);-webkit-transform:translateY(0);transform:translateY(0)}
}@-webkit-keyframes item{50%{-o-transform:translateY(10px);-ms-transform:translateY(10px);-moz-transform:translateY(10px);-webkit-transform:translateY(10px);transform:translateY(10px)}
100%{-o-transform:translateY(0);-ms-transform:translateY(0);-moz-transform:translateY(0);-webkit-transform:translateY(0);transform:translateY(0)}
}@-o-keyframes item{50%{-o-transform:translateY(10px);-ms-transform:translateY(10px);-moz-transform:translateY(10px);-webkit-transform:translateY(10px);transform:translateY(10px)}
100%{-o-transform:translateY(0);-ms-transform:translateY(0);-moz-transform:translateY(0);-webkit-transform:translateY(0);transform:translateY(0)}
}@-ms-keyframes item{50%{-o-transform:translateY(10px);-ms-transform:translateY(10px);-moz-transform:translateY(10px);-webkit-transform:translateY(10px);transform:translateY(10px)}
100%{-o-transform:translateY(0);-ms-transform:translateY(0);-moz-transform:translateY(0);-webkit-transform:translateY(0);transform:translateY(0)}
}@keyframes item{50%{-o-transform:translateY(10px);-ms-transform:translateY(10px);-moz-transform:translateY(10px);-webkit-transform:translateY(10px);transform:translateY(10px)}
100%{-o-transform:translateY(0);-ms-transform:translateY(0);-moz-transform:translateY(0);-webkit-transform:translateY(0);transform:translateY(0)}
}