body{overflow-x:hidden}
#wrapper{background:#cdd2d5}
#white{background:#fff;height:100vh;margin:0 auto;max-width:1000px;text-align:center}
#cuerpo{background:url("../images/hola/portada.jpg") no-repeat top center}
#texto{background:#ec9206;border:3px solid #fff;font-family:Arial;line-height:22px;margin:70px auto 20px auto;max-width:480px;padding:30px;text-align:left}
#titulo{background:rgba(0,0,0,0.70);display:inline-block;font-weight:normal;margin-top:120px;text-transform:uppercase;padding:25px}
#slide{margin-top:-56px;z-index:1}
#nombre{opacity:0;-webkit-transition:.3s}
#email{position:relative;z-index:2}
#formulario{display:inline-block;color:#0073e8;width:100%;}
#formulario input{display:block;margin:5px 0;font-family:Arial;-webkit-box-sizing:border-box}
#formulario input[type="text"],#formulario input[type="email"]{background:#f6f4f5;border:3px solid #c5cad0;padding:10px 5px;border-radius:3px;font-size:16px;max-width:590px;width:100%;display:inline-block;outline:0}
#formulario input[type="submit"]{background:#0073e8;border:none;border-radius:2px;color:#fff;padding:12px 40px;text-transform:uppercase;font-size:14px;font-weight:bold;margin:0 auto;cursor:pointer}
#formulario .sub-blanco{border-top:3px solid #abb4b9;background:#fff;max-width:1000px;width:100%;padding-bottom:5px}
